<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container footer-bottom clearfix text-center">
        <div class="">
            &copy; Copyright
            <script type="text/javascript">document.write(String(new Date().getFullYear()));</script>
            <span>ILGPU</span>. All Rights Reserved.
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div><!-- loading Spinner -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a><!-- Go to Top button -->
