<!-- ARSHA Vendor JS Files -->
<script defer src="{{ "assets/vendor/aos/aos.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/glightbox/js/glightbox.min.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/isotope-layout/isotope.pkgd.min.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/swiper/swiper-bundle.min.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/waypoints/noframework.waypoints.js" | relative_url }}"></script>
<script defer src="{{ "assets/vendor/php-email-form/validate.js" | relative_url }}"></script>
<!-- ARSHA Vendor JS Files -->

<!-- ARSHA Template Main JS File -->
<script defer src="{{ "assets/js/main.js" | relative_url }}"></script>
<!-- ARSHA Template Main JS File -->

{%- include site-extras-js.html -%}


{% if layout.extras-js %}
    {% include {{ layout.extras-js }} %}
{% endif %}

{% if page.extras-js %}
    {% include {{ page.extras-js }} %}
{% endif %}
