<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include base/head.html %}

<body class="news">
{% include base/navbar.html %}
<main id="main">
    <section class="inner-page">
        <div class="container" data-aos="fade-up">
            {% assign check = page.path | split: '.' | last %}
            {% if check == "html" %}
                {{ content }}
            {% else %}
                <div class="section-title">
                    <h2>{{ page.title }}</h2>
                </div>
                <div class="row">
                    {{ content }}
                </div>
            {% endif %}
        </div>
    </section>
    <section id="related" class="pricing">
        <div class="container" data-aos="fade-up">
            <div class="related row">
                <div class="section-title">
                    <h2>More News</h2>
                </div>
                {% for post in site.posts limit: 3 %}
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h5>{{ post.title }}</h5>
                            <p class="excerpt">{{ post.excerpt | strip_html }}</p>
                            <br><br>
                            <a href="{{ post.url | relative_url }}" class="buy-btn">Full Article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main><!-- End #main -->
<div style="flex-grow:1"></div> <!-- Fill page -->

{% include base/footer.html %}
{% include base/load-js.html %}
</body>

</html>
